
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fcfcfc;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}
